.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    rgb(66, 30, 107),
    rgb(109, 50, 175),
    rgb(66, 30, 107)
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  h1 {
    margin: 0;
  }

  button,
  a {
    font-size: 1.05rem;
    position: relative;
    text-decoration: none;
    border: none;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 6rem;
    text-align: center;
    background-color: rgb(88, 39, 143);
    color: white;

    &:hover {
      background-color: black;
    }
  }

  .button-hidden {
    pointer-events: none;
    background: transparentize($color: rgb(88, 39, 143), $amount: 0.7);
  }
}

.hidden-bottom {
  opacity: 0;
  // transform: translateY(300px);
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .App {
    background: black;

    button,
    a {
      font-size: 2rem;
      // padding: 0.5rem 1.25rem;
      margin: 1rem 0;
      min-width: 8rem;
    }
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .App {
    button,
    a {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .App {
  }
}
