html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-size: 19px;

  * {
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif !important;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  :root {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  :root {
    font-size: 13px;
  }
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
  :root {
    font-size: 12px;
  }
}
